@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

body {
	font-family: var(--font-sans);
}

main {
	width: min(100% - 2rem, 50rem);
	margin-inline: auto;
}

section {
	padding: var(--size-fluid-1);
}

p {
	text-indent: 1rem;
	max-inline-size: var(--size-content-4);
}

hr {
	margin-block: var(--size-fluid-3);
}

#ava {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: var(--size-fluid-2);
	margin-inline: auto;
}

.gallery {
	margin: var(--size-fluid-1) auto;
	display: grid;
	max-width: 900px;
	justify-items: center;
	grid-row-gap: var(--size-fluid-1);
	grid-column-gap: var(--size-fluid-1);
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (min-width: 600px) {
	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}

.gallery-item {
	display: block;
	width: 100%;
	border-radius: var(--radius-2);
	;
}

.upload-preview {
	max-width: 100px;
	max-height: 100px;
}