[Unit]
Description=Lapa Web
Documentation=
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
RuntimeDirectory=lapa-web
Type=simple
ExecStart=/usr/bin/lapa_web
ExecReload=/usr/bin/lapa_web
Restart=on-failure
User=lapa-web
Environment=LEPTOS_HASH_FILES=true
Environment=LEPTOS_HASH_FILE_NAME=/home/lapa-server/web/hash.txt
Environment=LEPTOS_SITE_ADDR=127.0.0.1:8110
Environment=LEPTOS_SITE_ROOT=/home/lapa-server/web/public
Environment=LEPTOS_OUTPUT_NAME=lapa_web
# Environment=DATABASE_URL=file:/home/lapa-server/site.db
# Environment=CONTENT_UPLOAD_PATH=/home/lapa-server/content_upload
# Environment=CONTENT_CDN_PATH=/home/lapa-server/content_cdn
# Environment=IMG_PATH=/home/lapa-server/img
Environment=RUST_LOG=info,site

[Install]
WantedBy=multi-user.target
